.screen-reader-only {
    background-color: red !important;
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.back-yellow{
    background-color: yellow !important;
}