{% load static %}


<!--   Autoplaying carousels -->
<!--https://getbootstrap.com/docs/5.3/components/carousel/#autoplaying-carousels -->

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/carousel_1.png' %}"   width="100%" height="470" alt="carousel_1">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel_2.png' %}"   width="100%" height="470" alt="carousel_2">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/carousel_3.png' %}"   width="100%" height="470" alt="carousel_3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>