annotated-types==0.6.0
asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2024.2.2
charset-normalizer==3.3.2
cloudinary==1.38.0
crispy-bootstrap5==2023.10
dj-database-url==2.1.0
Django==4.2.9
django-bootstrap-datepicker-plus==5.0.5
django-bootstrap-v5==1.0.11
django-ckeditor==6.7.0
django-ckeditor-5==0.2.11
django-cloudinary-storage==0.3.0
django-countries==7.5.1
django-crispy-forms==2.1
django-database-url==1.0.3
django-environ==0.11.2
django-jazzmin==2.6.0
django-js-asset==2.2.0
django-phonenumber-field==7.3.0
fontawesomefree==6.5.1
gunicorn==21.2.0
idna==3.6
packaging==23.2
phonenumbers==8.13.27
pillow==10.2.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pydantic==2.5.3
pydantic_core==2.14.6
python-dotenv==1.0.0
requests==2.31.0
shortuuid==1.0.11
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.0
