.screen-reader-only {
    background-color: red !important;
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.back-ggg {
    background-color: #d9dbcc !important;
}

.bg-color{
    background-color: #ffffff;
}





.my-button{
  position:absolute;
  top:2px;
  right:2px;
  z-index:3;
  /* width:100px;
  height:30px; */
}


.back-image {
    background-image: url("../img/back_white.webp"); /* The image used */
    background-color: #dfe3f4; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    /*background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

/* 
  .row {
    --bs-gutter-x: 0 !important; 
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: 0;
    margin-left:  0;
  } */



  .truncated-text {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content; /* or a specific width you want */
}
