{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block createpost %}

<section class='bg-light'>
    
    <div class='row justify-content-center'>
        <div class="col-md-10 col-sm-11 border rounded border-secondary p-3 m-5 back-ggg">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}

                {{form.media }}
                {{ form|crispy }}

                <div>
                    <div >
                        <button type="submit" class="but btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>
{% endblock createpost %}

