{% extends 'base.html' %}
{% load static %}


<!-- start inlclude  'message' -->
{% block messages %}
   {% include 'blog/includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->



{% block content %}



<!--Start include Carousel-->
   {% include 'blog/includes/carsousel.html' %}
<!--End  include Carousel-->



<!--Start Category row -->
<br>
<div class='container'>
        <div class="card">
            <div class="card-header text-center ">Ctegories</div>
                <div class="row card-body justify-content-between m-1">
                        {% for cat in categories %}
                        
                            <div class='col-lg-2 col-md-6 col-sm-6 col-xs-6 rounded d-flex justify-content-center'>
                                {% if cat.icon %}
                                <a href="#">
                                    <figure class="figure">
                                        <img src="{{ cat.icon.url }}" class="rounded"  width="100" height="100" alt="{{cat.name}}">
                                        <figcaption class="figure-caption"><small>{{ cat.name }}</small></figcaption>
                                    </figure>
                                </a>        
                                {% else %}
                                    <figure class="figure">
                                        <img src="{% static 'img/cat_default.png' %}" width="100" height="100" alt="{{cat.name}}">
                                        <figcaption class="figure-caption"><small>{{ cat.name }}</small></figcaption>
                                    </figure>
                                {% endif %}
                            </div>
                     
                        {% empty %}
                            <div class="border p-3 mb-3">
                                <p>No Category!</p> 
                            </div>  
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>        
<!--End Category row -->


   


<!--Start 2 columns grid  -->
<section>
    <h1 class="screen-reader-only">Posts List for web development applications Skills</h1>      
    <div class="row mt-4 container-fluid">
        <!-- Start posts-->
        <div class="col-md-8">
            <a type="button" href='{% url 'blog:new-post' %}' class="btn btn-dark btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Add Post</a>
            <br> <br>   
            {% for post in posts %}
            <div class="card mb-3">
                {% if post.photo %}
                    <img class="card-img-top img-fluid" src="{{post.photo.url}}" width="150" height="250" alt="{{post.title}}">
                {% else %}
                    <img class="card-img-top img-fluid" src="{% static 'img/post_default.png' %}"  width="150" height="250" alt="{{post.title}}">
                {% endif %}    
                <div class="card-body">
                    <a href="{% url 'blog:post-detail' slug=post.slug %}"><h2 class="card-title">{{post.title}}</h2></a>
                    <p class="card-text">{{post.content|safe}}</p>
                    <p class="card-text"><small class="text-muted">published at{{post.created_at|date:'d-m-Y'}}</small></p>
                </div>
            </div>
            {% empty %}
            <div class="border p-3 mb-3">
                <p>No Post!</p> 
            </div>
            {% endfor %}
        </div>
        <!-- End posts-->

        
        <div class="col-md-4">
                <!--Start tags-->
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header text-center">Tags</div>
                    <div class="card-body">
                        {% for tag in tags %}
                        <button type="button" class="btn btn-secondary m-1">
                            {{ tag.name }} <span class="badge bg-warning">5</span>
                        </button>
                        {% empty %}
                        <div class="border p-3 mb-3">
                            <p>No Tag!</p> 
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- End tags-->


                    <br>
                    <br>
             


                <!--Start category names -->
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header text-center">Categories</div>
                    <div class="card-body">
                        {% for cat in categories %}
                        <button type="button" class="btn btn-info m-1">
                            {{ cat.name }} <span class="badge bg-warning">5</span>
                        </button>
                        {% empty %}
                        <div class="border p-3 mb-3">
                            <p>No Category!</p> 
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- End category names-->
        </div>
        
    </div>
</section>
<!--END 2 columns grid   -->
{% endblock content %}