{% extends 'base.html' %}
{% block content %}

{% for post in posts %}
<div class="border p-3 mb-3">
    <img class="img-fluid rounded-circle border m-2" style="width: 70px; height:70px;"
        src="{{post.author.profile.image.url}}" alt="Author image">
    <span class="text-secondary">published at{{post.created_at|date:'d-m-Y'}}</span>
    <h3><a class="myback text-dark" href="#">{{post.title}}</a></h3>
    <p>{{post.content}}</p>
</div>
{% empty %}
<div class="border p-3 mb-3">
    <h3>No Post!<a href="#">login</a></h3> 

</div>
{% endfor %}


{% endblock content %}