{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



<!-- start include  'message' -->
{% block messages %}
   {% include 'blog/includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->



<!-- start  'post_detail.htm' -->
{% block content %}

<section class='row m-1'>
<h1 class="screen-reader-only">Post Detail page for Codes City- web development</h1>    
<div class='col-md-9'>
        <br><br>
        <!-- breadcrumb start -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class='link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' href="{% url 'blog:home' %}">Home</a></li>
              <li class="breadcrumb-item"><a class='link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' href="{% url 'blog:home-filter-category' catslug=post.category.slug %}">{{post.category}}</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
            </ol>
        </nav>
        <!-- breadcrumb end -->
      
        
    <section class='border border-secondary bg-light text-dark container mb-3'> 
        <h2 class="p-3">{{post.title}}</h2>
            <div class='row'>
                <div class='col-md-auto d-flex justify-content-start align-items-center'>
                    {% if post.get_user.profile.profile_pic %}
                        <img class='rounded-circle  mb-1' src="{{ post.get_user.profile.profile_pic.url }}"  width="50" height="50" alt="{{post.author.first_name}}">
                    {% else %}
                        <img class='rounded-circle  mb-1' src="{% static 'img/profile_default.webp' %}"  width="50" height="50" alt="{{post.author.first_name}}">
                    {% endif %} 
                </div>
                <div class='col-md-auto d-flex justify-content-start align-items-center'>
                    <p>&nbsp<small class="text-muted"><i class="fa-solid fa-pen-nib"></i>  {{post.author.get_user_fullname}}</small></p>&nbsp &nbsp &nbsp &nbsp
                    <p><small class="text-muted"><i class="fa-regular fa-calendar-days"></i>  {{post.created_at|date:'d-m-Y'}}</small></p>
                </div>
              
            
                <div class='col-md d-flex justify-content-end  align-items-center mb-2'>
                    <i class="fa-regular fa-share-nodes fa-lg" style="color:#A9AA9E"></i>
                    
                    &nbsp &nbsp &nbsp &nbsp
                   
                    <span  class="position-relative">
                        <i class="fa-regular fa-eye fa-lg" style="color:#68b1cc"></i> 
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark opacity-50">
                            <text class='text-light'>{{ post.views_count }}<text>
                            <span class="visually-hidden">views</span>
                        </span>
                    </span>

                    &nbsp &nbsp &nbsp &nbsp

                    <span  class="position-relative">
                        <i class="fa-regular fa-heart fa-lg" style="color:#EF4990"></i> 
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark opacity-50">
                            <text class='text-light'>{{ post.get_post_likes_count }}<text>
                            <span class="visually-hidden">likes</span>
                        </span>
                    </span>

                    &nbsp &nbsp &nbsp &nbsp

                    <span  class="position-relative">
                        <i class="fa-regular fa-message fa-lg" style="color:#96cc4d"></i> 
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark opacity-50">
                            <text class='text-light'>{{ post.comments.all.count }}<text>
                            <span class="visually-hidden">comments</span>
                        </span>
                    </span>
                </div>
            </div>

        <!-- post start-->
        <div class="card pb-3">
            {% if post.photo %}
                <img class="card-img-top img-fluid" src="{{post.photo.url}}" width="150" height="250" alt="{{post.title}}">
            {% else %}
                <img class="card-img-top img-fluid" src="{% static 'img/post_default.png' %}"  width="150" height="250" alt="{{post.title}}">
            {% endif %}    
            <div class="card-body text-dark"> 
                <p class="card-text">{{post.content|safe}}</p>
            </div>

            <!-- start category -->
            <div  class="rounded-end-circle border-start border-5 border-secondary text-dark mb-1 p-2">
                <small>Category:</small> &nbsp
                <a href="{% url 'blog:home-filter-category' catslug=post.category.slug %}"><span class="badge bg-secondary text-light">{{post.category}}</span></a>
            </div>   
            <!--end category -->
            
            <!-- start tags -->
            <div  class="bg-light rounded-end-circle border-start border-5 border-warning text-dark  mb-1 p-2">
                <small>Tags:</small>({{ post.tags.all.count }}): &nbsp
                {% for tag in post.tags.all  %}
                   <a href="{% url 'blog:home-filter-tag' tagslug=tag.slug %}"><span class="badge bg-warning text-secondary">{{tag}}</span></a>
                {% endfor %}
            </div>   
            <!--end tags -->



            <!-- start post button delete - edit -->
            {% if post.author == request.user %}
            <div class="d-flex justify-content-end">
                <a class="btn btn-sm btn-secondary m-2" href="{% url 'blog:post-update' post_slug=post.slug  %}"><i class="fa-regular fa-pen-to-square"></i> Edit</a>
                <a class="btn btn-sm btn-danger m-2" href="{% url 'blog:post-delete-confirm' post_slug=post.slug  %}"><i class="fa-regular fa-trash-can"></i> Delete</a>
            </div>
            {% endif %}
            <!--  end post button delete - edit --> 
            
            <!-- start like heart button action -->
            {% if request.user.is_authenticated %}
            <div class="d-flex justify-content-end">
                {% if request.user not in post.likes.all %}
                <a href="{% url 'blog:post-like' post_slug=post.slug  %}" class="btn btn-sm btn-light fs-5 m-2">🤍</a>  
                {% else %}
                <a href="{% url 'blog:post-like' post_slug=post.slug  %}" class="btn btn-sm btn-light fs-5 m-2">❤️</a>  
                {% endif %}
            </div>
            {% endif %}
            <!--  end like heart button action  -->    
        </div>
        <!-- post end-->
 <br>
    </section>        
     
    <!-- form to add new comment section -->
    <div class='bg-light text-dark border rounded border-secondary p-3  mt-2 mb-5 '>
        <i class="fa-solid fa-ellipsis-vertical"></i><span class='p-2'><small>Add new comment</small></span>
        <br><br>
        <form method='POST' novalidate>
            {% csrf_token %}
            {{ form|crispy }}
           
            <div class='d-flex flex-row-reverse'>
                <button class='btn btn-sm btn-success' type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Add Comment</button>
            </div>
        </form>
    </div>
    <!--form comment end -->
   


    <!--comments list start -->
    <div class='bg-light text-dark border rounded border-secondary p-3  mt-2 mb-5 '>
        <i class="fa-solid fa-ellipsis-vertical"></i><span class='p-2'><small>Comments({{ post.comments.all.count }})</small></span>
        <br><br>
        {% for comment in post.comments.all %}  
        <div class="row mb-2 p-3">
                
                <div class='col-md-auto'>
                    <img class='rounded-circle me-2' src="{% static 'img/profile_default.webp' %}"  width="30" height="30" alt="{{comment.name}}">
                    <span><strong>{{ comment.name }}</strong></span>
                </div>
                <div class='col-md-auto  text-secondary text-muted'>
                    {{ comment.message }}
                </div>
            </div>
            {% empty %}
            <p class='text-center'> No Comment!</p>
        {% endfor %}        
    </div>
    <!--comments list end -->

    

</div>   
<div class="col-md-3">
        <br><br><br><br>
 
      <!--Start tags-->
      <div class="card text-dark bg-light mb-3">
        <div class="card-header text-center">Tags({{ tags.count }})</div>
        <div class="card-body">
            {% for tag in tags %}
            <a type="button" href="{% url 'blog:home-filter-tag' tagslug=tag.slug %}"  class="btn btn-outline-dark m-1" >
                #{{ tag.slug }} <span class="badge bg-warning">{{tag.get_tag_posts.count}}</span>
            </a>
            {% empty %}
            <div class="border p-3 mb-3">
                <p>No Tag!</p> 
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- End tags-->
    
    <br>
    <br>      

<!--Start top views posts  -->
<div class="card text-center text-dark bg-light mb-3" >
    <div class="card-header">Top Views Posts</div>
    <div class="card-body">
        {% for post in con_topposts %}
            <div >
                <a href="{{ post.get_absolute_url }}">
                    {% if post.photo %}
                    <img class="card-img-top" src="{{post.photo.url}}" width="50px" height="250" alt="{{post.title}}">
                    {% else %}
                    <img class="card-img-top" src="{% static 'img/post_default.png' %}"  width="50px" height="250" alt="{{post.title}}">
                    {% endif %}
                    <div class="card-body">
                    <p class="card-text">{{ post.title }}</p>
                    </div>
                </a>
            </div>  
            <br>
        {% empty %}
        <div class="border p-3 mb-3">
            <p>No Post!</p> 
        </div>
        {% endfor %}
      
    </div>
    
</div>
<!-- End  top views posts-->

<br>
<br>

         <!--Start category names -->
         <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center">Categories({{ categories.count }})</div>
            <div class="card-body">
                {% for cat in categories %}
                <a type="button" href="{% url 'blog:home-filter-category' catslug=cat.slug %}"  class="btn btn-outline-dark m-1" >
                    {{ cat.name }} <span class="badge bg-warning">{{ cat.get_category_posts.count }}</span>
                </a>
                {% empty %}
                <div class="border p-3 mb-3">
                    <p>No Category!</p> 
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- End category names-->
         
   
   
    </div>
 
</section>


{% endblock content %}
<!-- end  'post_detail.htm' -->