{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



<!-- start include  'message' -->
{% block messages %}
   {% include 'blog/includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->



<!-- start  'post_detail.htm' -->
{% block postdetail %}

<section class='row m-1'>
    <div class='col-md-9'>
        
        <!-- breadcrumb start -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Library</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
            </ol>
          </nav>
        <!-- breadcrumb end -->
      
        

        <h1 class="card-title p-3">{{post.title}}</h1>
            <div class='row'>
                <div class='col-1 d-flex justify-content-start align-items-start'>
                    {% if post.get_user.profile.profile_pic %}
                        <img class='rounded-circle m-3' src="{{ post.get_user.profile.profile_pic.url }}"          width="50" height="50" alt="{{post.author.first_name}}">
                    {% else %}
                        <img class='rounded-circle m-3' src="{% static 'img/profile_default.webp' %}"  width="50" height="50" alt="{{post.author.first_name}}">
                    {% endif %} 
                </div>
                <div class='col-7 d-flex justify-content-start align-items-center'>
                    <p>&nbsp<small class="text-muted"><i class="fa-solid fa-pen-nib"></i>  {{post.author.get_user_fullname}}</small></p>&nbsp &nbsp &nbsp &nbsp
                    <p><small class="text-muted"><i class="fa-regular fa-calendar-days"></i>  {{post.created_at|date:'d-m-Y'}}</small></p>
                </div>
                <div class='col-4 d-flex justify-content-end  align-items-center'>
                    <i class="fa-sharp fa-regular fa-share-nodes fa-lg" style="color:#A9AA9E"></i> &nbsp &nbsp &nbsp &nbsp <i class="fa-sharp fa-regular fa-message fa-lg" style="color:#A9AA9E"></i>&nbsp &nbsp
                </div>
            </div>
            
        <!-- post start-->
        <div class="card mb-3">
            {% if post.photo %}
                <img class="card-img-top img-fluid" src="{{post.photo.url}}" width="150" height="250" alt="{{post.title}}">
            {% else %}
                <img class="card-img-top img-fluid" src="{% static 'img/post_default.png' %}"  width="150" height="250" alt="{{post.title}}">
            {% endif %}    
            <div class="card-body">
               
                <p class="card-text">{{post.content|safe}}</p>
               
            </div>
        </div>
        <!-- post end-->
        <hr>
        <!-- start post button delete - edit -->
            {% if post.author == request.user %}
            <div class="form-group btn-editing">
                <a class="btn btn-secondary" href="{% url 'blog:post-update' slug=post.slug  %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'blog:post-delete-confirm' slug=post.slug  %}">Delete</a>
            </div>
            {% endif %}
        <!--  end post button delete - edit -->    
        <hr>
        <!--post button share  -->
        <a href=""><i class="far fa-envelope fa-2x"></i></a>
        <hr>
        <!---->

     
<!-- form to add new comment section -->
<div>
    {% if new_comment %}
    <h6 class="alert alert-success">Your comment has been added successfully to the database but it is need agreement from Admin to display.</h6>
    {% else %}
    <h4 class='mycolor p-2'>Add new comment</h4>
    <div class='border rounded border-secondary p-3  mt-2 mb-5  border_comment'>
        <form method='POST' novalidate>
            {% csrf_token %}
            {{ comment_form.media }}
            {{ comment_form.as_p }}
            <input class='btn btn-info' type="submit" value='add comment'>
        </form>
    </div>
    {% endif %}
</div>
<!--form comment end -->
   

  <!--comment start -->

  <!--comment end -->


        <!-- similar post start -->
        <div>
            <h2>Similar posts</h2>
            {% for post in similar_posts %}
            <p>
                <a href="{% url 'blog:post_detail_show_path' post.id %}">{{ post.P_subject }}</a>
            </p>
            {% empty %} There are no similar posts yet. {% endfor %}
        </div>
        <!-- similar post end -->
    
    </div>


   
    <div class="col-md-3">
        <br><br><br><br>
        <!--Start category names -->
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center">Categories</div>
            <div class="card-body">
                {% for cat in categories %}
                <button type="button" class="btn btn-info m-1">
                    {{ cat.name }} <span class="badge bg-warning">5</span>
                </button>
                {% empty %}
                <div class="border p-3 mb-3">
                    <p>No Category!</p> 
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- End category names-->
        
        
        <!--Start tags-->
        <div class="card text-dark bg-light mb-3">
            <div class="card-header text-center">Tags</div>
            <div class="card-body">
                {% for tag in tags %}
                <button type="button" class="btn btn-secondary m-1">
                    {{ tag.name }} <span class="badge bg-warning">5</span>
                </button>
                {% empty %}
                <div class="border p-3 mb-3">
                    <p>No Tag!</p> 
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- End tags-->
    </div>
 
</section>


{% endblock postdetail %}
<!-- end  'post_detail.htm' -->