{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% if title %}
    <title>{% block title %}Codes City Blog | {{title}}{% endblock title %}</title>
    {% else %}
    <title>Codes City Blog</title>
{% endif %}


<!-- start inlclude  'message' -->
{% block messages %}
   {% include 'blog/includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->




{% block content %}
<section class='bg-light container'>
    <h1 class="screen-reader-only">Add a New Post for Codes City- web development</h1>   
    <br><br><br>
    <h2 class='text-center'>Add a new post</h2>
    <div class='row justify-content-center'>
        <div class="col-md-10 col-sm-11 border rounded border-secondary p-3 m-5 back-ggg">
            <form method="POST" enctype='multipart/form-data' novalidate>
                {% csrf_token %}

               
                {{ form|crispy }}
                {{form.media }}

                <div class='d-flex justify-content-between'>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a type="link" href="{% url 'blog:home' %}" class="btn btn-secondary">Cancel</a>
                </div>
             
            </form>
        </div>
    </div>
</section>
{% endblock content %}

