{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Share a Post{% endblock title %}


<!-- start include  'message' -->
{% block messages %}
   {% include 'blog/includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->


{% comment %} {% block content %}
        <h1>Share "{{ post.title }}" by e-mail</h1>
        <form method="POST">
            {% csrf_token %}
                {{form.media }}
                {{ form|crispy }}
            <input type="submit" value="Send e-mail">
        </form>
{% endblock %} {% endcomment %}



{% block content %}
<section class='bg-light container'>
    <h1 class="screen-reader-only">Post Share page for Codes City- web development</h1>   
    <br><br><br>
    <h2 >Share post: <strong>{{ post.title }}</strong></h2>
   
    <div class='row justify-content-center'>
        <div class="col-md-10 col-sm-11 border rounded border-secondary p-3 m-5 back-ggg">
            <form method="POST" enctype='multipart/form-data' novalidate>
                {% csrf_token %}

                {{form.media }}
                {{ form|crispy }}

                <div class='d-flex justify-content-between'>
                    <button type="submit" class="btn btn-success">Share</button>
                    <a type="link" href="{% url 'blog:post-detail' post_slug=post.slug %}" class="btn btn-secondary">Cancel</a>
                </div>
             
            </form>
        </div>
    </div>
</section>
{% endblock content %}

