{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% if title %}
    <title>{% block title %}Codes City Blog | {{title}}{% endblock title %}</title>
    {% else %}
    <title>Codes City Blog</title>
{% endif %}


<!-- start inlclude  'message' -->
{% block messages %}
{% include 'blog/includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->



{% block content %}

<section class='modify-content-center container'>
<br><br><br>
<h1 class="screen-reader-only">Password Reset Complate</h1> 
<h2 class='text-center'>Password Reset Complate</h2>

<div class="card">
  <div class="card-body text-center">
    <p class='text-center'>Your password has been set.  You may go ahead and log in now.</p>
    <a href="{%  url 'user:user-login' %}" class='btn btn-light'>login🌷</a>
  </div>
</div>
</section>  
{% endblock content %}
