{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% if title %}
    <title>{% block title %}Codes City Blog | {{title}}{% endblock title %}</title>
    {% else %}
    <title>Codes City Blog</title>
{% endif %}


<!-- start inlclude  'message' -->
{% block messages %}
   {% include 'blog/includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->

{% block content %}

<section class='modify-content-center container'>
<br><br><br>
<h1 class="screen-reader-only">Pawssword Change done page for Codes City</h1> 
<h2 class='text-center'>Pawssword Change done</h2>

<div class="card m-5">
  <div class="card-body">
    <p class='text-center'>Pawssword Change done Successfully ..</p>
    <p class='text-center'>🌷💐🌾🌼🌻🌸🌺🪻🥀</p>
  </div>
</div>
</section>  
{% endblock content %}