{% extends 'base.html' %}
{% load crispy_forms_tags %}



<!-- start inlclude  'message' -->
{% block messages %}
{% include 'blog/includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->



{% block content %}
<section class='bg-light container'>
    <br><br><br>
    <h1 class="screen-reader-only">Password Reset Form for Codes City-Web Development, Django, Django Rest Framework.</h1> 
    <h2 class='text-center'>Password Reset Form</h2>
    <div class='row justify-content-center'>
        <div class="col-md-10 col-sm-11 border rounded border-secondary p-3 m-5 mt-2 back-ggg">
            <form method="POST" enctype='multipart/form-data' novalidate>
                {% csrf_token %}

                {{form.media }}
                {{ form|crispy }}

                <div class='d-flex justify-content-between'>
                    <button type="submit" class="btn btn-success">Reset</button>
                    <a type="link" href="{% url 'blog:home' %}" class="btn btn-secondary">Cancel</a>
                </div>
             
            </form>
        </div>
    </div>
</section>
{% endblock content %}







{% comment %} 
{% block extrastyle %}
    <link rel="stylesheet" href="{% static "admin/css/forms.css" %}">
{% endblock extrastyle  %}


{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; {% translate 'Password Reset' %}
    </div>
{% endblock breadcrumbs %} 




{% block content %}

<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

    <form method="post" >
        {% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-email">
                {{ form.email.errors }}
                <label for="id_email">{% translate 'Email address:' %}</label>
                {{ form.email|crispy }}
            </div>
            <input type="submit" value="{% translate 'Reset my password' %}">
        </fieldset>
    </form>

{% endblock %}
 {% endcomment %}