{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% if title %}
    <title>{% block title %}Codes City Blog | {{title}}{% endblock title %}</title>
    {% else %}
    <title>Codes City Blog</title>
{% endif %}

<!-- start inlclude  'message' -->
{% block messages %}
   {% include 'blog/includes/messages.html' %}
   {% endblock messages %}
<!-- END inlclude  'message' -->




{% block content %}    
<section class="my-form container p-5 my-5 rounded border border-warning">
      <br><br><br>
     <h1 class="screen-reader-only">Profile Codes City-Web Development, Django, Django Rest Framework.</h1> 
     <h2 class='text-center'>Profile {{profile.user.get_user_fullname}}</h2>
      <hr>
        <div>
          
            <div class="row p-5">

              <div class="card mb-3 w-100" >
                <div class="row no-gutters">
                  {% if profile.profile_pic  %}
                    <div class="col-md-4">
                      <img src="{{ profile.profile_pic.url }}" class="card-img img-thumbnail" width="250px" height="250px" alt={{profile.user.get_user_fullname}}>
                    </div>
                  {% else %} 
                    <div class="col-md-4">
                      <img src="{% static 'img/profile_default.webp' %}" class="card-img img-thumbnail"  width="250px" height="250px" alt={{profile.user.get_user_fullname}}>
                    </div> 
                  {% endif %}
                  <div class="col-md-8">
                      <div class="card-body">
                            <h3 class="card-title"><span class="font-weight-bolder">First Name : </span>{{profile.user.first_name}}</h3>
                            <h3 class="card-title"><span class="font-weight-bolder">Last Name : </span>{{profile.user.last_name}}</h3>
                            <h3 class="card-title"><span class="font-weight-bolder">Email : </span>{{profile.user.email}}</h3>
                            <h3 class="card-text"><span class="font-weight-bolder">Bio : </span>{{profile.bio}}</h3>                 
                            <h3 class="card-text"><span class="font-weight-bolder">Gender : </span>{{profile.gender}}</h3>                           
                            <h3 class="card-text"><span class="font-weight-bolder">Phone Number : </span>{{profile.phone_number}}</h3>                                  
                            <h3 class="card-text"><span class="font-weight-bolder">Date Of Birth : </span>{{profile.date_of_birth}}</h3>
                            <h3 class="card-text"><span class="font-weight-bolder">created at : </span>{{profile.created_at}}</h3>                     
                            <h3 class="card-text"><span class="font-weight-bolder">Updated at : </span>{{profile.updated_at}}</h3>                           
                            <h3 class="card-text"><span class="font-weight-bolder">Website : </span>{{profile.website }}</h3>
                            <h3 class="card-text"><span class="font-weight-bolder">Country : </span>{{profile.country }}</h3>
                      </div>
                      
                      <div class='m-x-10'>
                        <a type="link" class="btn btn-warning" href="{% url 'user:my-profile-usermodel-update' %}" role="button"><span class="text-center">Update My Profile</span></a>
                        <a type="link" class="btn btn-danger" href="{% url 'user:password_change' %}" role="button"><span class="text-center">Change My Password</span></a>
                      </div>
                      <br>
                  </div>
              
                </div>

            </div>
          
        </div>
</section>
{% endblock %}