{% extends 'base.html' %}
{% load crispy_forms_tags %}


<!-- start inlclude  'message' -->
{% block messages %}
{% include 'blog/includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->


{% block content %}
<section class='bg-light container'>
    <br><br><br>
    <h1 class="screen-reader-only">Send email confirm link to email {{ user.email }}.</h1> 
        <p>Hello {{ user.first_name }},</p>
        <p class='text-center'>Please enter your email here and click confirm to get email confirmation link</p>
        <br>
            <form method="POST"  novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <div class='d-flex justify-content-between'>
                    <button type="submit" class="btn btn-success">Send link to my email</button>
                </div>
            </form>
        <br>
        <p>Please go to your emaill {{ user.email }} and press link to confirm it.</p>
        <br>
        
        <p>Best regards,</p>
        <p>The CodesCity Team</p>
    
</section>
{% endblock content %}
