
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Confirm Your Email Address by click on this button</title>
    </head>
    <body>
        <h2>Hello {{ user.first_name }},</h2>
        <p>Welcome to CodesCity! Please confirm your email address by clicking on the following link:</p>
        
        <form method="POST" enctype='multipart/form-data' novalidate>
            {% csrf_token %}

        
            {{ form }}

            <div class='d-flex justify-content-between'>
                <button type="submit" class="btn btn-success">CONFIRM EMAIL</button>
            </div>
         
        </form>

        <p>Please go to your emaill {{ user.email }} and press link to confirm it.</p>
        
        
        <p>Best regards,</p>
        <p>The CodesCity Team</p>
    </body>
</html>

