{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- start inlclude  'message' -->
{% block messages %}
   {% include 'blog/includes/messages.html' %}
   {% endblock messages %}
<!-- END inlclude  'message' -->



{% block content %}

<section class='bg-light container'>
    <br><br><br>
    <h1 class="screen-reader-only">Login Codes City-Web Development, Django, Django Rest Framework.</h1> 
    <h2 class='text-center'>Login</h2>
    <div class='row justify-content-center'>
        <div class="col-md-10 col-sm-11 border rounded border-secondary p-3 m-5 mt-2 back-ggg">
            <form method="POST" enctype='multipart/form-data' novalidate>
                {% csrf_token %}

            
                {{ form|crispy }}

                <div class='d-flex justify-content-between'>
                    <button type="submit" class="btn btn-success">Login</button>
                    <a type="link" href="{% url 'blog:home' %}" class="btn btn-secondary">Cancel</a>
                </div>
             
            </form>
        </div>
    </div>

    <p class='text-center'> 
        Not have account?<a href={% url 'user:user-register' %}> Register</a>
    </p>
    <p class='text-center'> 
        <a href={% url 'user:forget-password' %}>Forget your password</a>
    </p>
    <br>
</section>
{% endblock content %}

