{% extends 'base.html' %}


{% if title %}
    <title>{% block title %}Codes City Blog | {{title}}{% endblock title %}</title>
    {% else %}
    <title>Codes City Blog</title>
{% endif %}


{% block content %}
<section class='modify-content-center container'>
    <br><br><br>
    <h1 class="screen-reader-only">Privacy Police of Codes City Blog</h1> 
    <br><br>
  
<p>
"Codes City Blog" License Agreement was entered into on 28/02/2024, by and between Codes City Blog hereinafter referred to as the "Licensor" and "the user full name", hereinafter referred to as the "Licensee."


</p>
<p>
1. License Grant
Licensor hereby grants Licensee a non-exclusive, non-transferable license to access, view, and use the content published on the blog titled "Codes City Blog" for personal, non-commercial purposes.

</p>
<p>
2. Restrictions
Licensee agrees not to reproduce, distribute, modify, create derivative works from, publicly display, or exploit the content of the "Codes City Blog" in any way other than expressly permitted by this Agreement.

</p>
<p>

3. Intellectual Property
All intellectual property rights in and to the "Codes City Blog", including but not limited to copyrights and trademarks, are and shall remain the exclusive property of the Licensor.
</p>
<p>


4. Disclaimer Of Warranty
"Codes City Blog" is provided "as is" without any warranty of any kind, either express or implied, including but not limited to the implied warranties of merchantability and fitness for a particular purpose.

</p>
<p>

5. End
This permit is compelling until ended by one or the other party. Licensor, "Codes City Blog" may end this permit out of the blue in the event that Licensee penetrates any of the terms or states of this Arrangement.
</p>
<p>
6. Miscellaneous
This Agreement constitutes the entire understanding between the parties concerning the Blog and supersedes all prior and contemporaneous agreements and understandings, whether oral or written.

In witness whereof, the parties here are to have executed the "Codes City Blog" License Agreement as of the date first above written.


</p>
<p>
Licensor: "Codes City Blog"    
Contact Licensor

Licensee: "The user's full name"
   </p>

    <br><br><br>
</section>  
{% endblock content %}