{% extends 'base.html' %}
{% load crispy_forms_tags %}



<!-- start inlclude  'message' -->
{% block messages %}
   {% include 'blog/includes/messages.html' %}
{% endblock messages %}
<!-- END inlclude  'message' -->

{% block content %}

<section class='modify-content-center container'>
<br><br><br>
<h1 class="screen-reader-only">Thank from Codes City-Web Development, Django, Django Rest Framework.</h1> 
<h2 class='text-center'>Thank You</h2>

<div class="card m-5">
  <div class="card-body">
    <p class='text-center'>It's my pleasure! Thank you for reaching out, You're welcome ..</p>
    <p class='text-center'>🌷💐🌾🌼🌻🌸🌺🪻🥀</p>
  </div>
</div>
</section>  
{% endblock content %}